
.header {
    height: 80px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
}

nav {
    height: 100%;

}

nav ul {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    margin-right: 32px;
}

nav ul li {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8px;
    margin-right: 8px;
}

nav ul li a
{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color: salmon;
    padding: 12px;
    border-radius: 8px;
}

.dropdown-content {
    display: flex;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    min-width: 210px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    margin-top: 80px;

}

