@media (max-width: 1080px) {
    nav img {
        height: 60px!important;
    }
    .letra {
        width: 28px!important;
        height: 28px!important;
        font-size: 20px!important;
    }
}

@media (max-width: 960px) {
    .banner {
        flex-direction: column!important;
    }
    .banner-left, .banner-right {
        flex: 1!important;
    }
    .banner-right {
        order: -1!important;
        margin-top: 100px!important;
    }
    .description-area {
        justify-content: center!important;
        align-items: center!important;
    }
}


@media (max-width: 790px) {
    nav {
        padding-top: 8px!important;
        flex-direction: column!important;
        height: auto!important;
    }

    .banner-right {
        margin-top: 150px!important;
    }
}

@media (max-width: 390px) {
    nav img {
        height: 50px!important;
    }
    .letra {
        width: 22px!important;
        height: 22px!important;
        font-size: 18px!important;
        margin: 5px!important;
    }
    .banner-right {
        margin-top: 120px!important;
    }
    .description-content, .description-btn a {
        font-size: 20px!important;
    }
    .ranking-header {
        font-size: 38px!important;
    }
    .item-ranking, .item-score {
        font-size: 22px!important;
    }
}