.banner {
    background-image: url('../../assets/images/bannerbg.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
}

.banner-left {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-right {
    flex:2;
    display: flex;
    align-items: center;
    justify-content: center  ;
}